    /*
    Flaticon icon font: Flaticon
    Creation date: 14/03/2021 20:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-website-home:before { content: "\f101"; }
.flaticon-add:before { content: "\f102"; }
.flaticon-minus:before { content: "\f103"; }
.flaticon-delete:before { content: "\f104"; }
.flaticon-delete-1:before { content: "\f105"; }
.flaticon-label:before { content: "\f106"; }
.flaticon-buy-button:before { content: "\f107"; }
.flaticon-unauthorized-person-1:before { content: "\f108"; }
.flaticon-shopping-cart-1:before { content: "\f109"; }
.flaticon-admin-with-cogwheels:before { content: "\f10a"; }
.flaticon-sort-down:before { content: "\f10b"; }
.flaticon-descending-sort:before { content: "\f10c"; }
.flaticon-sort-ascending:before { content: "\f10d"; }
.flaticon-sort-ascending-1:before { content: "\f10e"; }
    
    $font-Flaticon-shopping-cart: "\f100";
    $font-Flaticon-website-home: "\f101";
    $font-Flaticon-add: "\f102";
    $font-Flaticon-minus: "\f103";
    $font-Flaticon-delete: "\f104";
    $font-Flaticon-delete-1: "\f105";
    $font-Flaticon-label: "\f106";
    $font-Flaticon-buy-button: "\f107";
    $font-Flaticon-unauthorized-person-1: "\f108";
    $font-Flaticon-shopping-cart-1: "\f109";
    $font-Flaticon-admin-with-cogwheels: "\f10a";
    $font-Flaticon-sort-down: "\f10b";
    $font-Flaticon-descending-sort: "\f10c";
    $font-Flaticon-sort-ascending: "\f10d";
    $font-Flaticon-sort-ascending-1: "\f10e";